#container{
  text-align: center;
  display: block;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  margin: 7%;
  padding: 10px;
}
body{
  background-image: url(background.jpg);
  background-size: contain;
  background-repeat: round;
}
#speciale{
  color: green;
  font-size: 40px
}
div nav{
  background-color: green;
  padding: 9px;
  left: 50%;
}
section{
  color: white;
  font-size: 30px;
  text-align: left;
}
 img{
  width: 30%;
  height: auto;
}
.posizione{
  font-size: 15px;
}
.titoletto{
  color: white;
  font-size: 30px;
  text-align: left;
}
.batteria{
    font-size: 15px;
}
.batteria-1{
  background-color: orange;
  border-radius: 10px;
  width: 25%;
  height: 10px;
}
.batteria-2{
  background-color: green;
  border-radius: 10px;
  width: 37%;
  height: 10px;
}
.batteria-3{
  background-color: red;
  border-radius: 10px;
  width: 10%;
  height: 10px;
}
